*{
  padding: 0% 0% 0% 0% !important;
  margin: 0% 0% 0% 0% !important;
  box-sizing: border-box !important;
}
  .navbar-custom{
    background-color: #27ae60;
    min-height: 80px;
    padding: 0% 0% 0% 2% !important;
  }
.items_spacer{
  padding: 0% 0% 0% 2% !important;
}
.nav_items{
  padding: 0% 10% 0% 0% !important;
  text-emphasis-color: white;
}
.first_row{
 height:'100vh';
 background-color:'yellow';
}
