*{
  padding: 0% 0% 0% 0% !important;
  margin: 0% 0% 0% 0% !important;
  box-sizing: border-box !important;
}
.generalcardsRow{
  padding: 0% 0% 5% 3% !important;
}
.generalcardsRow{
padding: 2% 1.5% 0% 1.5% !important;
}
.customFooter{
  padding:0% 0% 0% 0% !important;
  /* background-color: white; */
}
.carousel_row{
  padding: 2% 1.5% 2% 1.5% !important;
  background-color: white;
}
.carouselCard{
padding:0% 0% 0% 4% !important;
width: 100% !important;
height: 100px;
}
.carouselImages{
  height: 50vh !important;
  width: 50vw !important;
}
.carouselImagesSmall{
  width: 100vw!important;
  height: 50vh!important;
}
.top_updatetext{
padding: 0% 0% 3% 0% !important;
}